# Build directories
build*/
*.o
*.obj
*.dll
*.so
*.dylib
*.exe

# Qt Creator
*.user
*.pro.user
*.qtc
.qtcreator/

# Qt specific
moc_*
qrc_*
ui_*

# CMake / qmake cache
CMakeLists.txt.user*
CMakeCache.txt
*.autosave
